name: pull request

on:
  push:
    branches:
      - master
  pull_request:
env:
  BRANCH_NAME: ${{ github.head_ref || github.ref_name }}


jobs:
  env-job:
    runs-on: ubuntu-latest
    outputs:
      modified-branch-name: ${{ steps.env.outputs.MODIFIED_BRANCH_NAME }}
    name: Modify branch name
    steps:
      - name: Sets MODIFIED_BRANCH_NAME
        id: env
        env:
          name: "${{env.BRANCH_NAME}}"
        run: |
          echo "MODIFIED_BRANCH_NAME=${name//\//-}" >> ${GITHUB_OUTPUT}
          cat ${GITHUB_OUTPUT}

  build:
    runs-on: macOS-latest
    needs:
      - env-job
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          submodules: true
      - name: show envs
        run: |
          echo ${{ needs.env-job.outputs.modified-branch-name }}
      - name: prepare
        run: brew install exiftool imagemagick
      - name: set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'adopt'
          java-version: 17
      - name: Install Android SDK
        uses: malinskiy/action-android/install-sdk@release/0.1.4
      - name: Build with Gradle
        run: ./gradlew assembleDebug
      - name: Run tests
        run: ./gradlew test
      - name: Run instrumentation tests
        uses: malinskiy/action-android/emulator-run-cmd@release/0.1.4
        with:
          cmd: ./gradlew cAT --continue
          api: 28
          tag: default
          abi: x86_64
          cmdOptions: -noaudio -no-boot-anim -no-window
      - name: Archive Espresso results
        uses: actions/upload-artifact@v3
        if: ${{ always() }}
        with:
          name: SlidingUp-Espresso-report
          path: demo/build/reports/androidTests/connected
      - name: Archive screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: SlidingUp-Screenshots-${{ needs.env-job.outputs.modified-branch-name }}
          path: |
            demo/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
            demo/build/outputs/androidTest-results/connected
      - name: Compare screenshots
        run: |
            ls -ls demo/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected
            cp demo/build/outputs/connected_android_test_additional_output/debugAndroidTest/connected/emulator\(AVD\)\ -\ 9/* screenshotsToCompare
            ./screenShotCompare.sh
      - name: Archive screenshots diffs
        if: ${{ always() }}
        uses: actions/upload-artifact@v3
        with:
          name: SlidingUp-diffs-${{ needs.env-job.outputs.modified-branch-name }}
          path: |
            screenshotDiffs